/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  background-attachment: display;
  color: #1e272e;
  color: #fff;
  font-size: 16px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}
.container {
  width: 98%;
  margin: 10px;
}

/* Navigation */
.nav-main {
  margin-top: 10px;
  margin: 0px,0px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 20px 20px;
  border-radius: 5px;
  background-color: #ffffff89;
}

.nav-brand {
  width: 150px;
  height: 70px;
/*  border-radius: 7px;*/
}

/* Navbar Left */
.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a {
  padding: 2px;
  color: #000000;
  margin-left: 20px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 80px;
}

hr {
  margin: 10px 0;
}

/* Responsive Button */
.menu-btn {
  display: none;
  cursor: pointer;
  color:#000000;
  z-index: 2;
}
.btn {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 15px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
}
.btn:hover {
  opacity: 0.7;
}


/* SHOWCASE */


.showcase {
  width: 100%;
  height: 550px;
  background: url("imagenes/nosotros.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
  border-radius: 5px;

}

.showcase h2,
.showcase p {
  margin-bottom: 30px;
}

.showcase .btn {
  margin-top: 20px;
}

/* News Cards */
.news-cards {
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 90px;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  border-bottom-left-radius: 05px;
  border-bottom-right-radius: 05px;
}

.news-cards img {
  margin-top: 40px;
  margin-left: 40px;
  width: 230px;
  height: 230px;
  border-radius:100% ;
  border-style: dashed;
  border-color: #ffffff;
}

.news-cards h3 {
  font-size: 20px;
  margin: 10px 70px;
}

.news-cards a {
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  margin: 10px 10px;
}

/* CARDS BANNER ONE */
.cards-banner-one {
  width: 100%;
  height: 450;
  background: rgba(255, 255, 255, 0.718);
  margin-bottom: 0px;
  display: flex;
  border-radius: 5px;
}

.cards-banner-one .content {
  width: 60%;
  padding: 30px 0px 0px 30px;
  color: rgb(0, 0, 0);
}

.cards-banner-one p,
.cards-banner-two p {
  margin: 10px 5px 20px 5px;
}


/* Follow */
.social {
  margin: 50px;
}
.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.links {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  font-size: 3rem;
}

/* Links */
.footer-links {
  background: #0e0e0e;
  color: #ffffff;
  font-size: 12px;
  padding: 35px 0;
  display:flex;
  flex-wrap:wrap;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width:100%;
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
  padding-left: 3px;

}

.footer-links li {
  line-height: 2.8;
}
.footer h3{
  padding-left: 30%;
}

.footer {
  background: #0e0e0e;
  color: #f7f3f3;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
  display:flex;
  flex-wrap:wrap;
  width:100%;
}

/* Mobil */
@media (max-width: 700px) {
  .container {
    width: 100%;
    margin: 0px;
  }
  .nav-main{
    width:100%;
    height: 76px;
  }
	  .nav-main ul.nav-menu li {
    padding: 20px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }
   .menu-btn {
  display: block;
  z-index: 2;
   }
  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #797979ac;
    width: 50%;
    height: auto;
    border-right: rgb(255, 255, 255) 1px solid;
    opacity: 0.9;
    transform: translateX(-400px);
    transition: transform 0.5s ease-in-out;
  }
  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }
  .showcase h2,
  .showcase p{
    width: 60%;
    font-size: 17px;
  margin-bottom: 10px;
  }
  .cards-banner-one .content {
    width: 75%;
    padding: 30px 0px 20px 30px;
    color: rgb(0, 0, 0);
  }
  .news-cards {
  width:100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, 95%);
  padding-left:30px;
}

.social{
  align-items: center;
}
.social p{
  font-size: 17px;
}
.links {
  display: grid;
  grid-template-columns: repeat(3,25% );
  width:80%;
}
.footer{
  margin-top: 0PX;
  font-size: 10px;
}
.footer-links .footer-container {
  grid-template-columns: repeat(3, 1fr);
}
.footer-links .footer-container ul {
  text-align: center;
}
.footer h3{
  padding-left: 13%;
}
}